nav, footer {
    background-color: #000080;
    color: white;
}

footer {
    padding: 1rem;
    text-align: center;
}

.navbar-pms {
    color: #ffffff;
    text-decoration: none;
}

.navbar-pms:hover {
    color: #0018f9;
}

.hide-on-small {
    display: none !important;
}

@media (min-width: 425px) {
    .hide-on-small {
        display: flex !important; 
    }
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

::-webkit-scrollbar {
    width: 16px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
}


::-webkit-scrollbar-thumb {
    background-color: #000080;
    border-radius: 6px;
    border: 3px solid #f0f0f0; 
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 16px;
    background: #f0f0f0;
    display: block;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #000080 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 16px;
    background: #f0f0f0;
    display: block;
    border-style: solid;
    border-width: 8px 7px 0 7px; 
    border-color: #000080 transparent transparent transparent;
}
