/* Components stylesheet */


/* Bootstrap header and paragraph styles modified for better suitability */

h2 {
    font-size: 3rem;
    color: #000080;
    font-weight: 600;
}

h3 {
    color: #000080;
    font-weight: 600; 
}

h4 {
    color: #ffffff;
}

.project_list_header_p {
    font-size: 1.4rem; 
    color: #000080;
}

/* Bootstrap buttons styles modified for better suitability */

.btn-primary {
    background-color: #000080; /* Colour change */
    border-color: #000080; /* Border colour change */
}

.btn-primary:hover {
    background-color: #0018f9; /* Lighter shade on hover */
}

.btn-secondary {
  background-color: #820101; /* Colour change */
  border-color: #820101;
  color: #f7f7f7;
}

.btn-secondary:hover {
  background-color: #d60000; /* Lighter shade on hover */
  border-color: #d60000;
}

.only-top-border {
    border-top: 2px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0 !important;
    background-color: transparent;
    transition: all 0.3s ease;
    padding: 6px 12px;
    text-decoration: none;
    display: inline-block;
}

.only-top-border.success {
    border-top-color: var(--bs-success);
    color: var(--bs-success);
}

.only-top-border.success:hover {
    background-color: var(--bs-success);
    color: white;
    text-decoration: none;
}

.only-top-border.secondary {
    border-top-color: var(--bs-secondary);
    color: var(--bs-secondary);
}

.only-top-border.secondary:hover {
    background-color: var(--bs-secondary);
    color: white;
    text-decoration: none;
}
